[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "vagrant/provision/roles/fqdn"]
	path = vagrant/provision/roles/fqdn
	url = https://github.com/holms/ansible-fqdn.git
